@import 'typography.css';
@import 'variables.css';
@import 'reset.css';
/* Підключення блоків */
@import 'components/buttons.css';
@import 'components/filters.css';
@import 'components/table.css';
@import 'components/modal.css';
@import 'layout/header.css';
@import 'layout/sidebar.css';

/* Блок Layout */
.layout {
    display: flex;
    width: 100%;
    min-height: calc(100vh - var(--header-height));
    max-width: var(--content-max-width);
    min-width: var(--content-min-width);
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
}

.layout__sidebar {
    flex-shrink: 0;
}

.layout__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all var(--transition-smooth);
}

.page-container {
    padding: 36px 30px 30px 45px;
}

/* Заголовок сторінки */
.page-title {
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: var(--color-black-text);
    margin-bottom: 30px;
    /* Відступ вниз 30px */
}