/* 1. Звичайний (Upright) варіативний шрифт */
@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist.woff2') format('woff2'),
        url('../fonts/Urbanist.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* 2. Курсивний (Italic) варіативний шрифт */
@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist-Italic.woff2') format('woff2'),
        url('../fonts/Urbanist-Italic.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}